<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Vincent Lesniak - Portfolio</li><li><a class="u-email" href="mailto:lesniak.vincent@epitech.eu">lesniak.vincent@epitech.eu</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/ermanphrodite"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">ermanphrodite</span></a></li><li><a href="https://www.linkedin.com/in/ermanphrodite"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">ermanphrodite</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>L&#39;une des meilleures façons de créer du rendement est de se concentrer sur la création de valeur pour les autres. - Oprah Winfrey</p>
      </div>
    </div>
  </div>
</footer>