---
---

@import "minima";

.site-header {
    border-top: 5px solid rgb(66, 66, 66);
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: fixed;
    width: 100%;
    background: white;
}

.post-header {
    margin-top: 55.95px;
}

.footer-col a {
    font-weight: 600        
}